<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">

      <div class="input-field">
        <input type="text" class="validate" id="login_input">
        <label for="login">Login</label>
      </div>

      <div class="input-field">
        <input type="password" id="password_input" class="validate">
        <label for="password">Password</label>
      </div>
      <a href="#" class="waves-effect waves-light btn-large" (click)="loginClick()">Login</a>

    </div>
  </div>
</div>

